<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>



<body>
<div id="tb">
    待收总额：
    <select id="cc" class="easyui-combobox" name="dept" style="width:200px;">
        <option>账单房号</option>
        <option>付款方</option>
    </select>
    <input class="easyui-textbox" data-options="iconCls:'icon-search'" style="width:300px">
    <a id="btn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'">搜索</a>



    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" />
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-help',plain:true" />
</div>

<table id="dg"></table>
</body>
<script type="text/javascript">
$(function(){
    query();
})
/* 查询表单 */
function query(){
    $('#dg').datagrid({
        url:'Pbill',
        toolbar:'#tb',
        columns:[[
            {field:'renterNumber',title:'账单房号',width:100},
            {field:'renterName',title:'付款方',width:100},
            {field:'billCount',title:'账单金额',width:100,align:'right'},
            {field:'billType',title:'账单类型',width:100,align:'right'},
            {field:'payDate',title:'预计付款时间',width:100,align:'right'},
            {field:'xxxx',title:'操作', formatter: function(value,row,index){
            /*添加操作内容 确认收款*/
                    var content = "<a href='javascript:deleteAll("+row.bookId+")' class='easyui-linkbutton' iconCls:'icon-cancel'>确认收款</a>";
            /*添加操作内容 更多*/
                    content += " |  <a href='javascript:huixian("+row.bookId+")' class='easyui-linkbutton' iconCls='icon-search'>更多</a>";
            /*通过 return 返回到前台页面显示*/
                    return content;
                },width:$(this).width() * 0.1}
        ]],
        pagination:true,
    /*页面数据条数*/
        pageSize:5,
    /*页面页数下拉框 显示数字*/
        pageList:[1,2,3,4,5]
    });
}





</script>
</html>