<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.ChanpinMapper" >
    <insert id="addzhiwei">

         insert into  maypost (pname) values( #{pname} )

    </insert>
    <update id="updatezhiwei">
        update  maypost  set  pname=#{pname} where pid=#{pid}
    </update>
</mapper>