
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>redis</title>


    <!-- 引入bootstrap的css -->
    <link  href="/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- 引入bootstrap-treeview的css -->
    <link  href="/js/treeview/bootstrap-treeview.min.css" rel="stylesheet" />
    <!-- 引入bootstrap-addTabs的css -->
    <link  href="/js/addTabs/addTabs.css" rel="stylesheet" />
    <!-- 引入bootstrap-table的css -->
    <link  href="/js/table/bootstrap-table.min.css" rel="stylesheet"/>
    <!-- 引入fileinput的css -->
    <link type="text/css" rel="stylesheet" href="/js/fileinput/css/fileinput.min.css" />
    <!-- 引入jquery -->
    <script type="text/javascript" src="/js/easyui-1.7.0/jquery.min.js"></script>
    <!-- 引入my97 -->
    <script type="text/javascript" src="/js/my97/WdatePicker.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="/js/treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="/js/addTabs/addTabs.js"></script>
    <!-- 引入bootstrap-table的js-->
    <script type="text/javascript" src="/js/table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="/js/table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入bootbox.js -->
    <script type="text/javascript" src="/js/bootbox/bootbox.js"></script>
    <!-- 引入fileinput的js -->
    <script type="text/javascript" src="/js/fileinput/js/fileinput.min.js"></script>
    <!--  引入fileinput的js -->
    <script type="text/javascript" src="/js/fileinput/js/locales/zh.js"></script>
    <script type="text/javascript" src="/js/fileinput/themes/fa/theme.js"></script>


</head>
<body >
<center><button   type="button" class="btn btn-SUCCESS" onclick="add()">新增</button></center>

           <table id="redisTab"></table>
</body>
<script type="text/javascript" >
    /*
    *发送ajax请求获取jsp页面内容
    */
    function getJspHtml(urlStr){
        var  jspHtml = "";
//	 async  (默认: true) 默认设置下，所有请求均为异步请求。如果需要发送同步请求，请将此选项设置为 false。
//注意，同步请求将锁住浏览器，用户其它操作必须等待请求完成才可以执行。
        $.ajax({
            url:urlStr,
            type:'post',
            //同步的ajax
            async:false,
            success:function(data){
                //alert(data);//data--addProduct.jsp页面内容
                jspHtml = data;
            },
            error:function(){
                bootbox.alert("ajax失败");
            }
        });
        return jspHtml;
    }


    function  dialog(HTMLurl,submitUrl,title){

        var dialog = bootbox.dialog({
            title: title,
            message: getJspHtml(HTMLurl),   //调用方法
            buttons:{
                "save":{
                    label: '保存',
                    //自定义样式
                    className: "btn-success",
                    callback: function() {
                        $.ajax({
                            url:submitUrl,
                            type:'post',
                            data:$("#logForm").serialize(),
                            success:function(data){
                                bootbox.alert("保存成功");
                                $("#redisTab").bootstrapTable('refresh');
                            },
                            error:function(){
                                bootbox.alert("ajax失败");
                            }
                        });
                    }
                },
                "unSave":{
                    label: '取消',
                    //自定义样式
                    className: "btn-info",
                    callback: function() {
                        // return false;  //dialog不关闭
                    }
                }
            }
        });
    }

    function editRedis(){
        var id=	$("[name='chk']:checked");
        alert(id);
        if(id&&id.length==1){
            dialog("<%=request.getContextPath()%>/event/findtor.do?id="+id[0].value,"<%=request.getContextPath()%>/event/addredis.do","新增新闻");
        }else{
            alert("请选择 一个")
        }
    }

     function add(){
         location.href="getzhifu";
     }
    function  addRedis(){
        //  复选框  ID
        dialog("<%=request.getContextPath()%>/event/toredis.do","<%=request.getContextPath()%>/event/addredis.do","新增新闻");
    }


    $(function (){
        $("#redisTab").bootstrapTable({
            url:"findzhiwei",
            method:"post",
            striped: true,  	// 斑马线效果     默认false
            //只允许选中一行
            singleSelect:true,
            //选中行是不选中复选框或者单选按钮
            clickToSelect:true,
            showToggle:false,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            uniqueId: "pid",                 //每一行的唯一标识，一般为主键列
            showColumns: false,                  //是否显示所有的列
            showRefresh: false,                  //是否显示刷新按钮
            minimumCountColumns: 2,     //  最少留两列
            detailView: false,                  //是否显示父子表
            //发送到服务器的数据编码类型
            contentType:'application/x-www-form-urlencoded;charset=UTF-8',   //数据编码纯文本  offset=0&limit=5
            toolbar:'#tabToolBar',   //  工具定义位置
            columns:[
                {field:'pid',title:'',width:50,

                },
                {field:'pname',title:'职位名称',width:100},
                {field:'pdate',title:'创建时间',width:100,sortable:true},
                {field:'xxx',title:'操作',
                    formatter:function(value,row,index){
                        var str="<a href='javascript:update("+row.pid+")' class='easyui-linkbutton' iconCls:'icon-cancel'>修改</a>--<a href='javascript:del("+row.pid+")' class='easyui-linkbutton' iconCls:'icon-cancel'>删除</a>";
                        return str;
                },

                    width:100,sortable:true},
            ],
            //传递参数（*）
            queryParams: function(params) {
                var whereParams = {
                    /*
                        分页  自定义的参数         默认传 limit（展示几条）    offset（从第几条开始    起始条数）
                    */
                    "pageSize":params.limit,
                    "start":params.offset,
                    //"pro_name":params.search,//精确搜索产品名称
                }
                return whereParams;
            },
            //前台--排序字段
            //sortName:'proPrice',
            //sortOrder:'desc',
            //前台--搜索框
            search:false,
            //启动回车键做搜索功能
            searchOnEnterKey:true,
            //分页方式   后台请求的分页方式
            sidePagination:'server',
            pagination: true,                   //是否显示分页（*）
            pageNum: 1,                       //每页的记录行数（*）
            pageSize: 3,                       //每页的记录行数（*）
            pageList: [3, 6, 9,12],        //可供选择的每页的行数（*）
        });
    })
    function update(id){
        location.href="findzhiweis.do?id="+id;
    }
    function del(id){
        $.ajax({
            url:"delzhiwei",
            data:{id:id},
            type:"post",
            success:function(data){
                location.href="zhifu";

            },error:function(){


            }
        })
    }
    function  search() {
        $("#redisTab").bootstrapTable("refresh", {
            "query": {
                "userName": $("#userName").val(),
                /* "minDate":$("#minTime").val(),
                "maxDate":$("#maxTime").val(),
                "minprice":$("#minprice").val(),
                 "maxprice":$("#maxprice").val(), */
            }
        });
    }
</script>
</html>